[submodule "PKCS11-SPECS"]
	path = PKCS11-SPECS
	url = https://github.com/Pkcs11Interop/PKCS11-SPECS.git
[submodule "integration-tests/softfido"]
	path = integration-tests/softfido
	url = https://github.com/KristianMika/softfido.git
